In [2]:
import pandas as pd
import seaborn as sns
import datetime
%matplotlib inline

In [4]:
import pickle

In [73]:
of = pd.read_csv('../oof_predictions.csv')

In [74]:
of.head()

   true_vals  predictions
0  -0.820283    -0.185655
1   0.392913    -0.386244
2   0.688056     0.602803
3   0.142495     0.096058
4  -0.159749    -0.034352

In [78]:
of[of.predictions < -14]

        true_vals  predictions
7554     1.688940   -14.427027
9604   -33.219281   -14.238758
72373   -1.421291   -14.178325
88601  -33.219281   -14.715817
90760    0.336592   -14.723111
90839    0.965441   -14.753539
114841  -2.654414   -14.770672
115502 -33.219281   -14.109424
175726 -33.219281   -14.554193

In [16]:
with open('../data/interim/train_'+str(4)+'.pickle', 'rb') as f:
	train_index = pickle.load(f)

with open('../data/interim/val_'+str(4)+'.pickle', 'rb') as f:
	val_index = pickle.load(f)

In [61]:
stk=pd.read_csv('../data/interim/exp_predictions_stk_1.csv')
stk2=pd.read_csv('../data/interim/exp_predictions_stk_2.csv')
stk3=pd.read_csv('../data/interim/exp_predictions_stk_3.csv')

In [53]:
stk.to_csv('../data/interim/test_predictions_stk_1.csv', index=False)

In [70]:
st = pd.concat([stk, stk2, stk3], axis=1)

In [72]:
st.mean(axis=1).shape

(201917,)

In [14]:
len(set(train_index) & set(val_index))

0

In [17]:
val_index[:10]

array([161534, 161535, 161536, 161537, 161538, 161539, 161540, 161541,
       161542, 161543])

In [3]:
features = pd.read_csv('../features.csv', header=None)

In [9]:
features.columns = ['feat', 'val']

In [11]:
list(features[:150].feat)

['hist_purchase_date_max',
 'hist_purchase_date_uptonow',
 'new_purchase_date_uptonow',
 'new_purchase_month_mean',
 'hist_authorized_flag_mean',
 'new_purchase_amount_max',
 'hist_category_1_sum',
 'new_purchase_date_max',
 'hist_month_diff_mean',
 'new_month_diff_mean',
 'hist_category_1_mean',
 'new_purchase_date_min',
 'new_purchase_date_ptp_ptp',
 'hist_first_buy',
 'new_purchase_date_average',
 'new_merch_purchase_mean_ratio',
 'new_purchase_mean_month_diff',
 'new_category_1_mean',
 'new_subsect_purchase_mean_ratio',
 'hist_merch_tran_ratio',
 'hist_purchase_month_std',
 'hist_purchase_date_min',
 'hist_installments_sum_0',
 'hist_purchase_amount_max_0',
 'hist_purchase_amount_sum_-4',
 'hist_merch_month_diff',
 'hist_purchase_amount_sum_0',
 'hist_purchase_amount_max_-1',
 'hist_purchase_amount_std_-4',
 'hist_installments_sum_-4',
 'hist_purchase_amount_mean_-5',
 'hist_purchase_amount_min_-6',
 'hist_purchase_amount_max_-2',
 'hist_purchase_amount_sum_-5',
 'hist_purchase_amount_min_0',
 'hist_purchase_amount_mean_0',
 'new_purchase_amount_std',
 'hist_purchase_amount_min_-4',
 'hist_purchase_amount_max_-5',
 'hist_purchase_amount_max_-3',
 'hist_purchase_amount_std_-5',
 'new_purchase_amount_mean',
 'hist_purchase_amount_min_-3',
 'hist_purchase_amount_min_-5',
 'hist_purchase_amount_min_-1',
 'hist_installments_std_-4',
 'hist_purchase_amount_mean_-4',
 'hist_purchase_amount_sum_-6',
 'hist_purchase_amount_std_0',
 'new_purchase_date_diff',
 'new_month_lag_mean',
 'hist_purchase_amount_max_-4',
 'new_purchase_month_max',
 'hist_installments_mean_-6',
 'hist_installments_sum_-6',
 'new_purchase_amount_max_2',
 'hist_purchase_amount_std_-3',
 'hist_category_2_1.0_mean',
 'hist_installments_sum',
 'hist_weekend_mean',
 'hist_merch_category_4_sum',
 'hist_merch_purchase_sum_ratio',
 'hist_month_nunique',
 'hist_purchase_amount_mean_-6',
 'new_purchase_amount_mean_2',
 'hist_purchase_amount_mean_-3',
 'hist_installments_sum_-5',
 'elapsed_time',
 'hist_installments_mean_-4',
 'hist_merch_most_recent_purchases_range_std',
 'hist_category_3_C_mean',
 'hist_purchase_amount_std_-6',
 'hist_month_lag_nunique',
 'hist_purchase_amount_std_-1',
 'new_category_1_sum',
 'hist_purchase_amount_max_-6',
 'hist_purchase_amount_mean_-1',
 'hist_purchase_amount_std_-7',
 'hist_purchase_amount_std_-2',
 'new_purchase_month_min',
 'hist_purchase_amount_mean_-2',
 'new_purchase_amount_max_1',
 'hist_merch_category_4_mean',
 'hist_purchase_amount_min',
 'hist_installments_std_-5',
 'hist_merch_purchase_mean_ratio',
 'hist_purchase_amount_min_-7',
 'hist_installments_mean_-5',
 'new_purchase_amount_min_1',
 'hist_merchant_id_count_0',
 'hist_installments_std',
 'hist_purchase_amount_sum_-1',
 'hist_installments_mean_0',
 'new_purchase_amount_min_2',
 'hist_purchase_date_average',
 'hist_purchase_amount_max',
 'hist_purchase_amount_min_-8',
 'hist_purchase_amount_max_-7',
 'new_first_buy',
 'hist_merch_most_recent_sales_range_std',
 'new_purchase_amount_std_1',
 'hist_purchase_amount_std',
 'hist_category_2_1.0_sum',
 'hist_category_3_B_sum',
 'hist_category_3_B_mean',
 'hist_purchase_amount_max_-8',
 'hist_purchase_amount_std_-8',
 'hist_purchase_amount_sum_-3',
 'new_merch_purchase_sum_ratio',
 'hist_installments_mean',
 'hist_purchase_amount_mean_-7',
 'hist_purchase_amount_min_-2',
 'hist_merch_active_months_lag12_std',
 'hist_installments_std_-6',
 'hist_month_lag_std',
 'hist_merch_most_recent_purchases_range_mean',
 'hist_merch_avg_purchases_lag3_min',
 'new_purchase_amount_mean_1',
 'hist_purchase_amount_sum_-8',
 'hist_subsect_purchase_mean_ratio',
 'hist_installments_sum_-3',
 'hist_purchase_amount_sum_-2',
 'hist_purchase_amount_std_-9',
 'new_purchase_amount_min',
 'hist_merch_avg_purchases_lag6_min',
 'hist_installments_std_-3',
 'hist_purchase_amount_max_-9',
 'feature_1',
 'hist_purchase_amount_sum_-7',
 'hist_installments_std_-7',
 'hist_purchase_month_mean',
 'hist_installments_sum_-8',
 'hist_installments_mean_-3',
 'hist_installments_std_-8',
 'hist_purchase_mean_month_diff',
 'new_purchase_amount_sum_2',
 'hist_merch_most_recent_sales_range_mean',
 'hist_purchase_date_ptp_ptp',
 'hist_installments_mean_-7',
 'hist_purchase_amount_mean_-8',
 'new_purchase_month_std',
 'new_merch_avg_purchases_lag12_min',
 'hist_installments_std_-1',
 'hist_year_nunique',
 'hist_merch_avg_sales_lag12_min',
 'hist_installments_std_0',
 'new_merch_avg_purchases_lag3_min',
 'hist_subsect_tran_ratio',
 'hist_installments_sum_-2',
 'hist_installments_sum_-7']

In [ ]:
ht = pd.read_csv('../data/raw/historical_transactions.csv', parse_dates=['purchase_date'])
nw = pd.read_csv('../data/raw/new_merchant_transactions.csv', parse_dates=['purchase_date'])

In [14]:
ht['month'] = ht['purchase_date'].dt.month
nw['month'] = nw['purchase_date'].dt.month

In [25]:
gp = ht.groupby(['card_id', 'merchant_id']).agg({'month':'nunique'}).reset_index()

In [30]:
gp.month.value_counts()

1     7762104
2     1606998
3      672532
4      351130
5      205478
6      129618
7       85105
8       57301
9       40073
10      28428
11      21921
12      20817
Name: month, dtype: int64

In [29]:
ht[(ht.card_id == 'C_ID_000acab1f6') & (ht.merchant_id == 'M_ID_ca4d18b336')]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,month
12047681,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.680806,2017-09-22 13:45:08,1.0,9,15,9
12047691,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-13,-0.701317,2017-01-23 11:53:29,1.0,9,15,1
12047694,N,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.679814,2017-10-10 14:57:18,1.0,9,15,10
12047698,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-9,-0.658522,2017-05-27 12:09:34,1.0,9,15,5
12047712,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.736239,2017-07-25 12:04:56,1.0,9,15,7
12047725,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-11,-0.696163,2017-03-09 14:58:39,1.0,9,15,3
12047730,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.641181,2017-09-14 14:45:29,1.0,9,15,9
12047733,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.620956,2017-09-06 14:23:37,1.0,9,15,9
12047738,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.577965,2017-09-09 14:35:14,1.0,9,15,9
12047746,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.550842,2017-07-25 12:04:09,1.0,9,15,7
12047751,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.716855,2017-08-28 11:40:09,1.0,9,15,8
12047753,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-2,-0.488001,2017-12-19 11:53:25,1.0,9,15,12
12047755,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.541390,2017-10-27 14:07:53,1.0,9,15,10
12047757,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.665479,2017-07-02 12:39:08,1.0,9,15,7
12047760,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.634374,2017-08-23 11:38:48,1.0,9,15,8
12047768,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-12,-0.554644,2017-02-09 10:41:58,1.0,9,15,2
12047770,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.436415,2017-09-27 14:40:20,1.0,9,15,9
12047772,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.698537,2017-07-15 11:01:59,1.0,9,15,7
12047774,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.596297,2017-08-16 12:06:46,1.0,9,15,8
12047775,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.666306,2017-09-28 15:06:28,1.0,9,15,9
12047778,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-3,-0.671775,2017-11-08 14:09:33,1.0,9,15,11
12047782,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-8,-0.632225,2017-06-29 10:49:42,1.0,9,15,6
12047787,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-3,-0.613292,2017-11-03 14:04:12,1.0,9,15,11
12047788,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.705946,2017-09-25 14:06:17,1.0,9,15,9
12047796,N,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.541195,2017-07-11 11:41:41,1.0,9,15,7
12047797,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.730529,2017-08-22 11:37:50,1.0,9,15,8
12047799,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.568062,2017-10-18 13:39:25,1.0,9,15,10
12047800,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.688079,2017-10-20 13:47:40,1.0,9,15,10
12047803,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.720191,2017-07-19 12:07:18,1.0,9,15,7
12047808,N,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.541195,2017-07-11 11:42:07,1.0,9,15,7
12047811,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.707989,2017-08-23 11:39:31,1.0,9,15,8
12047816,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.725134,2017-08-22 11:37:09,1.0,9,15,8
12047817,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-8,-0.633548,2017-06-21 12:03:35,1.0,9,15,6
12047820,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.662669,2017-07-19 12:08:14,1.0,9,15,7
12047822,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-8,-0.727388,2017-06-01 12:04:17,1.0,9,15,6
12047824,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.703707,2017-08-16 12:07:46,1.0,9,15,8
12047833,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.699063,2017-09-18 14:46:08,1.0,9,15,9
12047834,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.682519,2017-10-19 12:01:43,1.0,9,15,10
12047835,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.706486,2017-08-04 12:05:49,1.0,9,15,8
12047838,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.693038,2017-09-03 00:13:55,1.0,9,15,9
12047843,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-13,-0.641722,2017-01-24 11:50:29,1.0,9,15,1
12047844,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.658597,2017-07-20 11:55:22,1.0,9,15,7
12047848,N,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-10,-0.679138,2017-04-01 12:22:54,1.0,9,15,4
12047849,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.670919,2017-10-09 14:27:35,1.0,9,15,10
12047851,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-4,-0.483658,2017-10-20 13:46:17,1.0,9,15,10
12047853,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-8,-0.613172,2017-06-21 12:04:50,1.0,9,15,6
12047855,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.663390,2017-07-05 11:37:12,1.0,9,15,7
12047857,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.727208,2017-07-18 12:15:21,1.0,9,15,7
12047863,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-11,-0.540639,2017-03-08 13:44:24,1.0,9,15,3
12047864,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-3,-0.568243,2017-11-01 14:01:25,1.0,9,15,11
12047865,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-11,-0.652842,2017-03-11 15:36:25,1.0,9,15,3
12047878,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-9,-0.553517,2017-05-05 12:06:24,1.0,9,15,5
12047879,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.701468,2017-07-31 12:14:35,1.0,9,15,7
12047882,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-9,-0.712873,2017-05-20 11:21:38,1.0,9,15,5
12047885,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.448617,2017-09-21 13:37:59,1.0,9,15,9
12047891,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.639228,2017-09-06 14:25:04,1.0,9,15,9
12047892,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-6,-0.410645,2017-08-28 11:41:58,1.0,9,15,8
12047905,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-7,-0.719289,2017-07-05 11:38:20,1.0,9,15,7
12047908,Y,C_ID_000acab1f6,69,N,1,B,437,M_ID_ca4d18b336,-5,-0.609205,2017-09-01 14:54:33,1.0,9,15,9

In [9]:
nw[(nw.card_id == 'C_ID_00007093c1')]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
1793298,Y,C_ID_00007093c1,76,N,1,B,222,M_ID_08f01305af,2,-0.671775,2018-04-03 11:13:35,3.0,2,21
1793299,Y,C_ID_00007093c1,69,N,1,B,879,M_ID_00a6ca8a8a,2,-0.656749,2018-04-09 16:23:59,1.0,9,29

In [15]:
nw[nw.purchase_date.dt.year == 2017].month.unique()

array([12, 11,  8,  9, 10,  7,  6,  5,  4,  3])

In [20]:
nw[nw.purchase_date.dt.year == 2017].card_id.unique()[:10]

array(['C_ID_8c9ba46f19', 'C_ID_0a6ceeffcc', 'C_ID_95bea8a938',
       'C_ID_c08881d71e', 'C_ID_61ad67c5f7', 'C_ID_a120d34189',
       'C_ID_3820db9e00', 'C_ID_cb123befc4', 'C_ID_9e4e79fab8',
       'C_ID_c63e242d14'], dtype=object)

In [34]:
nw[nw.card_id =='C_ID_bb6e3b62f7'].month.unique()

array([5, 6])

In [33]:
ht[ht.card_id =='C_ID_bb6e3b62f7'].purchase_date.max()

Timestamp('2017-04-30 13:05:50')

In [31]:
ht[ht.month_lag == 0].month.value_counts()

2     2434206
1      254374
12     206195
11     118028
10      82104
9       80317
8       66144
7       59202
6       49514
5       43101
4       40939
3       36822
Name: month, dtype: int64

In [32]:
ht[(ht.month_lag == 0) & (ht.month == 4)].head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,month
32766,Y,C_ID_bb6e3b62f7,19,N,0,A,307,M_ID_5f69d50a5a,0,-0.686802,2017-04-24 14:29:38,1.0,9,19,4
32768,Y,C_ID_bb6e3b62f7,19,N,0,A,307,M_ID_21b8a3a739,0,-0.701828,2017-04-25 15:02:30,1.0,9,19,4
32772,Y,C_ID_bb6e3b62f7,19,N,0,A,705,M_ID_4e9b28e6a7,0,-0.691355,2017-04-29 14:41:36,1.0,9,33,4
32779,Y,C_ID_bb6e3b62f7,19,N,0,A,278,M_ID_d855771cd9,0,-0.703331,2017-04-26 13:40:02,1.0,9,37,4
32784,Y,C_ID_bb6e3b62f7,159,N,0,A,307,M_ID_bd48b0b466,0,-0.686802,2017-04-19 16:33:36,1.0,9,19,4